<footer class="footer py-3 shadow bg-dark text-muted " id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				{{ .Site.Title }}
        {{ range .Params.youtubeVideos }}
          <a href="http://" target="_blank" rel="noopener noreferrer"></a>
        {{end}}
			</div>
		</div>
	</div>
</footer>
<!-- JavaScript and dependencies -->
{{ $bootstrapjs := resources.Get "js/bootstrap.bundle.min.js"  | resources.Minify}}
<script src="{{$bootstrapjs.RelPermalink}}" defer></script>