{{ if .Params.googleMap }}
<section class="container-fuid py-3" id="googlemap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6 mx-auto text-center">
        <iframe src="https://www.google.com/maps/d/embed?mid={{ .Params.googleMap }}" width="100%" height="360" class="shadow rounded mb-3"></iframe>
        <a href="https://www.google.com/maps/d/viewer?mid={{ .Params.googleMap }}&usp=sharing " target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary">
          Click <strong>here</strong> to see the map in another tab.
        </a> 
      </div>
    </div>
  </div>
</section>
{{ end }}